<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
<body>
   <div ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div>
             <input id="lunch-menu" type="text" ng-model="lunchMenu">
         </div>
         <br></br>
         <div>
             <button ng-click="checkIfTooMuch()">Check If Too Much</button>
         </div>
         <br> </br>
         <div>
           {{message}}
         </div>
   </div>

</body>
</html>
